.cardCart{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardCart img{
    background-color: yellow;
    height: 200px;
    width: 200px;
}

.cardCart button{
    margin-left: 5px;
}