
.portada {
    background-color: #FBCCD2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(43, 41, 41);
    text-align: center;
}

.logoPortada{
    height: 220px;
    border: solid 1px rgb(43, 41, 41);
    margin-bottom: 0px;
  }