

.portada {
    background-color: #FBCCD2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(43, 41, 41);
    text-align: center;
}

.PaolaJofrePortada{
    font-family: 'Noto Serif Georgian', serif;
    font-size: 5rem;
    letter-spacing: 1rem;
}

.SkinCarePortada{
    font-weight: lighter;
    font-size: 3rem;
}
