.itemDetailContainerImg{
    width: 300px;
    height: 300px;
}

.itemDetailContainerData .card-body {
width: 500px;
}
.itemDetailContainerData .card-title{
    font-size: xx-large;
} 
.itemDetailContainerData .card-text{
    margin-top: 20px;
} 


@media only screen and (max-width: 500px) {
    * {
        overflow-x: hidden; }
    .itemDetailContainerData .card-body {
        width: 100%;
        }
    }

/*itemDetailContainerData*/