.cantidadCarrito{
    background-color: #f5b2bb;
    border-radius: 50%;
    color: white;
    height: 25px;
    width: 25px;
    text-align: center;
    box-shadow: none;
}

.cart{
    width: 28px;
    height: 28px;
    cursor: pointer;
    fill: rgb(109, 107, 107);
}

.cart:hover{
    fill: rgb(85, 84, 84);
  }