.card{
    width: 18rem;
    border: none;
}

.card img{
    height: 200px;
}

.btnCard{
    background-color: #FBCCD2;
    border: solid 1px rgb(43, 41, 41);
}

.btnCard:hover{
    background-color: #d39ba2;
    border: solid 1px rgb(43, 41, 41);
}

