.card{
    width: 18rem;
    border: none;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.card img{
    height: 200px;
    width: 270px;
}

.btnCard{
    background-color: #FBCCD2;
    border: none;
}

.btnCard:hover{
    background-color: #eba5ae;
}
